# build folders and similar which are not needed for the docker build
target
docker
api_tests
ansible
tests
*.sh
pictrs

readmes
.dockerignore
.github
.gitignore
.gitlab-ci.yml
.gitmodules
.vscode
Dockerfile
Dockerfile.archive
compose.yml
compose.yaml
docker-compose.yml
docker-compose.yaml
renovate.json

*.md
